h1 {
    
    font-style: italic;
    font-size: 4rem
}
header {
    font-size: xx-large;
}
h2 {
    color: white;
    font-size: xx-large;
    background-color: black;
}
h3 {
    color: rgb(255, 145, 0);
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p {
    color: rgb(20, 201, 225);
    font-size: larger;

}
li {
    color: rgb(156, 156, 51);
}