*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.image{
    width: 300px;
    margin-top: 5px;
    
}

img{
    height: 500vh;
    width: 350;
    margin: auto;
    border-radius: 50%; 
    border: 10px salmon; 
}

h1{
    padding: 0px;
    margin: 0px;
    font-size: x-large;
    font: bolder;
    color: black;
    background-color: aliceblue;
    
}

    


h2 {
    color: rgb(0, 255, 42);
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;



}
h3 {
    color: rgb(255, 0, 247);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;

}
body {
    background-color: beige;
font-family: 'Courier New', Courier, monospace;
font-size: larger;

}

.image {
      width: 100%;
      margin-top: 300px;
}
img {
height: 500;
width: 350;
display: block;
margin: auto;
border-radius: 50%;
border: 10px solid yellow
}

